.ProfileInfo {
      .profileImage {
            img {
                  width: 100%;
                  height: 200px;
            }
      }
      .profileDescription {
            padding: 10px;
            .avatar {
                  border-radius: 20px;
                  height: 150px;
            }
      }
      .ProfileData {
            margin-top: 10px;
            margin-left: 10px;
      }
      .wrapContacts {
            margin-top: 10px;
            .Contacts {
                  margin-left: 10px;
            }
      }
}
