.App {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: 
  "header header" 
  "navbar main"
  "navbar main"
  ;
  width: 90vmax;
  height: 95vh;
}